@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenida</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">construir Web apps con ASP.NET Core</a>.</p>

    <p>Ejemplo de despliegue automatico de una aplicación ASP.NET Core</a>.</p>
</div>
